.weather {
    place-self: center;
    padding: 2rem;
    margin-top: 3.5rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
    background-image: linear-gradient(45deg, #2bcbc0, #09186b);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .Search-bar input {
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    padding-left: 1rem;
    color: #626262;
    background: #ebfffc;
    font-size: 1rem;
  }
  
  .Search-bar img {
    width: 1.2rem;
    padding: 0.5rem;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
  }
  
  .icon {
    display: flex;
    width: 15rem;
    margin-bottom: -4rem;
  }
  
  .temp {
    color: #ebfffc;
    font-size: 4rem;
    line-height: 1;
    margin-bottom: -2rem;
  }
  
  .location {
    color: #ebfffc;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: -1rem;
  }
  
  .weather-data {
    width: 100%;
    margin-top: 2.5rem;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
  }
  
  .weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1.2rem;
  }
  
  .weather-data .col span {
    margin-top: -0.9rem;
    display: block;
    font-size: 1rem;
  }
  
  .weather-data .col img {
    width: 2rem;
    margin-top: 1.5rem;
  }